{% extends 'polls/base_template.html' %}

{% block content %}


<h3 style="color:#407CB2" align="center">
    Main page
</h3>
<h2 align="center">
    Welcome to Django Blog
</h2>
<p align="center"><img
        src="https://pbs.twimg.com/media/E1MqwKSWUAUQu7R.jpg"></p>

<h5 align="center">Select a section:</h5>
<h2 align="center">
    <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-primary btn-lg btn-dark" onclick="document.location='polls'" type="button">Опросы</button>
        <button class="btn btn-primary btn-lg btn-dark" onclick="document.location='blog'" type="button">Блоги</button>
    </div>

</h2>


{% endblock %}
