{% extends "polls/base_template.html" %}

{% block title %}  <title>Вопросы</title> {% endblock %}

{% block content %}
<h1>
    <p align="center" style="color:#407CB2" class="p-3">
        Polls</h1>

<div align="center">

    <a class="btn btn-primary btn-dark" href="{% url 'polls:question_new' %}">New Poll</a>
    <a class="btn btn-primary btn-dark" href="{% url 'polls:create_choice' %}">New choice</a>

</div>
{% if latest_question_list %}

<ul class="list-group-flush">
    {% for question in latest_question_list %}
    <p align="center" style="color:#407CB2">

        <li class="list-group-item">
    <h3><a style="color:#407CB2" href="{% url 'polls:detail' question.id %}">{{ question.question_text}}</a></li></h3>
    {% endfor %}
</ul>
{% else %}
<p align="center" style="color:#407CB2"> Нет доступных опросов</p>
{% endif %}
{% endblock content %}