{% extends 'polls/base_template.html' %}

{% block content %}


<h1><p align="center" style="color:#407CB2" class="p-3">
    {{ post.title }}</h1>
<div align="center">
    <p><a class="btn btn-primary btn-dark" href="{% url 'post_edit' post.pk %}">Update post</a>
        <a class="btn btn-primary btn-dark" href="{% url 'post_delete' post.pk %}">Delete post</a></p>
</div>
<p align="center" class="p-3 list-group-item">{{ post.body }}</p>


    <p align="center"><img src="{{post.image.url}}"></p>

   <p></p>


<p><a class="btn btn-primary btn-dark" href="/blog">Back to blogs</a></p>

{% endblock content %}